

<head>
    <title>Interaction Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>





<div class="start">


  <image src= "{{url_for('static', filename='images/hc.jpg')}}" style="width:200px;height:200px;"  >
  <div class ="center">

  <img src=  "{{url_for('static', filename='images/main.png')}}" alt="filter applied" class="blurrr" style="width:600px;height:400px;"/>
  </div>
  <div class="center">
  <div class="form-style-2-heading"><h1>Thank you </h1></div>

    <h1><a href="/start"><button type="button" style="width:100%;">   Click to go Back
    </button></a></h1>
  </div>
</div>
