<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>

<h1>
  <image src= "{{url_for('static', filename='images/hc.jpg')}}" style="width:200px;height:200px;"  >
</h1>
<div class="start">
  <style>
  img {
    -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
    filter: blur(6px);
  }
  </style>


    <body>
        <center>
            <img class="bg-img" src=  "{{url_for('static', filename='images/main.png' style="width:600px;height:400px;")}}"
            style="width:100%;" alt="filter applied" />

            <div class="backgr-text">
              <center>
                <h1><a href="menu_page"><button class ="daily-page1" type="button" >   Start Daily Interaction
                </button></a></h1>
                <h1><a href="menu_page"><button class ="vpd-page1" type="button" >   View Previous Data
                </button></a></h1>
                <h1><a href="interaction_page"><button class ="vad-page1" type="button" >   Replay the Demo
                </button></a></h1>
              </center>
            </div>

        </center>
    </body>
</html>
