

<head>
    <title>Interaction Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>





<div class="start">


  <image src= "{{url_for('static', filename='images/hc.jpg')}}" style="width:200px;height:200px;"  >

  <div class ="center">

    <img class="blurrr" src=  "{{url_for('static', filename='images/main.png')}}" alt="filter applied"  style="width:600px;height:400px;"/>
  </div>
  <div class="center">
    <div class="form-style-2-heading"><h1>Please choose to check the nutritions of each</h1></div>
    {% for m in menu: %}
    <figure>
      <a href="nutritions_page/{{ health+'-'+allergies+'-'+m[0]+'-'+m[3]+'-'+m[4] }}">
        <image src= "{{url_for('static', filename='images/'+m[2])}}" style="width:40%;">
      </a>
    <figcaption>{{ m[1] }} </figcaption>
  </figure>
    {%endfor%}

  </div>
</div>
