
<head>
    <title>New User</title>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>


<div class="start">

  <image src= "{{url_for('static', filename='images/hc.jpg')}}"  >
  <div class ="center">

    <img src=  "{{url_for('static', filename='images/main.png')}}" alt="filter applied" />
  </div>

  <div class="center">
      <a href="camera_start">
        <button type="button">  New User </button>
      </a>
  </div>
    <div class="form-style-2-heading"><h1>Robot Says - I see that we are meeting first time, would you like to be my friend? </h1></div>
</div>
