

<head>
    <title>Interaction Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>





<div class="start">


  <image src= "{{url_for('static', filename='images/hc.jpg')}}" style="width:200px;height:200px;"  >

  <div class ="center">

    <img class="blurrr" src=  "{{url_for('static', filename='images/main.png')}}" alt="filter applied"  style="width:600px;height:400px;"/>
  </div>
  <div class="center">
    <div class="form-style-2-heading"><h1>Please select your order for today's meal</h1></div>

    <figure>
      <a href="/menu_page/nutritions_page/suggestions_page/response/options">
        <image src= "{{url_for('static', filename='images/chick-noodle-soup.jpg')}}" style="width:40%;">
      </a>
      <a href="/menu_page/nutritions_page/suggestions_page/response/options">
        <image src= "{{url_for('static', filename='images/brownie.jpg')}}" style="width:40%;">
      </a>
      <a href="/menu_page/nutritions_page/suggestions_page/response/options">
        <image src= "{{url_for('static', filename='images/hasselback-sweet-potatoes.jpg')}}" style="width:40%;">
      </a>
  </figure>


  </div>
</div>
