
<head>
    <title>Suggestions Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href= "{{url_for('static', filename='style.css')}}" >
</head>





<div class="start">

  <image src= "{{url_for('static', filename='images/hc.jpg')}}"  style="width:200px;height:200px;">
  <div class ="center">

    <img src=  "{{url_for('static', filename='images/main.png')}}" alt="filter applied" class="blurrr" style="width:600px;height:400px;"/>
  </div>
  <div class="center">
    <div class="form-style-2-heading"><h1>Suggestions</h1></div>
    <div style="color: black;">
        <p>{{data['hcText']}}</p>

    </div>

    <div style="color: black;">
        <div class='some-page-wrapper'>
          <div class='row'>
            <div class='column'>
              <div class='blue-column'>

              </div>
            </div>
            <div class='column'>
              <div class='green-column'>

              </div>
            </div>
          </div>
        </div>

    <div style="color: black;">
        <div class='some-page-wrapper'>
          <div class='row'>
            <div class='column'>
              <div class='blue-column'>
                Adviced to eat more
              </div>
            </div>
            <div class='column'>
              <div class='green-column'>
                {{data['topitemstoconsume_data']}}
              </div>
            </div>
          </div>
        </div>

            <div style="color: black;">
                <div class='some-page-wrapper'>
                  <div class='row'>
                    <div class='column'>
                      <div class='blue-column'>

                      </div>
                    </div>
                    <div class='column'>
                      <div class='green-column'>

                      </div>
                    </div>
                  </div>
                </div>


                        <div style="color: black;">
                            <div class='some-page-wrapper'>
                              <div class='row'>
                                <div class='column'>
                                  <div class='blue-column'>

                                  </div>
                                </div>
                                <div class='column'>
                                  <div class='green-column'>

                                  </div>
                                </div>
                              </div>
                            </div>


    <div style="color: black;">
        <div class='some-page-wrapper'>
          <div class='row'>
            <div class='column'>
              <div class='blue-column'>
                Adviced to eat less
              </div>
            </div>
            <div class='column'>
              <div class='green-column'>
                {{data['thingstoavoid_data']}}
              </div>
            </div>
          </div>
        </div>

        <div style="color: black;">
            <div class='some-page-wrapper'>
              <div class='row'>
                <div class='column'>
                  <div class='blue-column'>

                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>

                  </div>
                </div>
              </div>
            </div>


                    <div style="color: black;">
                        <div class='some-page-wrapper'>
                          <div class='row'>
                            <div class='column'>
                              <div class='blue-column'>

                              </div>
                            </div>
                            <div class='column'>
                              <div class='green-column'>

                              </div>
                            </div>
                          </div>
                        </div>


                        <div style="color: black;">
                            <div class='some-page-wrapper'>
                              <div class='row'>
                                <div class='column'>
                                  <div class='blue-column'>

                                  </div>
                                </div>
                                <div class='column'>
                                  <div class='green-column'>

                                  </div>
                                </div>
                              </div>
                            </div>
    <div style="color: black;">
        <p>{{data['suggestions_data']}}</p>

    </div>

    <h1><a href="response"><button type="button" style="width:100%;">   Proceed
    </button></a></h1>
  </div>
